.fa-cart-shopping:hover,
.fa-phone:hover,
.fa-envelope:hover,
.fa-location-dot:hover,
.footer_section1_nav2_link:hover{    
    color: red;
    animation: rotateAnimation 2s ease-in-out infinite;
}

@keyframes rotateAnimation {
    0% {
      transform: rotate(0deg); 
    }
    50% {
      transform: rotate(180deg); 
    }
    100% {
      transform: rotate(0deg); 
    }
  }
