/* 744px - 481px */
@media(max-width: 744px) {

    /* header */
    header {
        padding-inline: 24px;
    }

    .header_nav {
        position: fixed;
        top: 95.56px;
        background-color: #B53B1B;
        left: -100%;

        width: 240px;
        height: 260px;
        padding: 34px 0 112px 34px;
        transition: .7s linear;
    }

    .header_nav_ul {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 24px;
    }

    .header_burger_button {
        display: block;
    }

    .sing_in_image {
        display: block;
    }

    .sign_in_text {
        display: none;
    }

    .header_right_side_section {
        column-gap: 8px;
    }

    /* banner_section */
    .banner_section {
        padding-block: 220px;
        background: url(../images/cover744.png);
        background-position: center;
        background-size: cover;
        height: 560px;
    }

    .banner_section_article {
        display: flex;
        align-items: center;
        row-gap: 32px;
    }

    .banner_section_text {
        font-size: 32px;
        line-height: 40px;
    }

    /* section2 */
    .section2 {
        padding: 64px 0 64px 24px;
    }

    .section2_product_section {
        width: min(100%, 894px);
    }

    /* footer */
    footer {
        padding-block: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 32px;
    }

    .footer_section1 {
        align-items: center;
        justify-content: center;
        text-align: center;
        row-gap: 32px;
    }

    footer .logo_text {
        display: inline-flex;
    }

    .show {
        display: none;
    }

    .footer_section2_ul {
        flex-direction: row;
        column-gap: 24px;
    }

    /* page: atworks.html */
    .artworks_section {
        padding: 64px 24px;
    } 

    .cards_section_article {
        flex: 1 1 100%;
    }

    .main_section_h2 {
        font-family: var(--font-Inter);
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
    }

    .sort_button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 61px;
        height: 40px;
    }

    .sort_button_text {
        display: none;
    }

    #card5,
    #card6 {
        display: none;
    }

    #page4{
        display: none;
    }

}